.App {
  display: flex;
  text-align: center;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: column;
  /*flex-wrap: wrap;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user-list{
  display: flex;
}

.user-item {
  border-style: solid;
  margin: 1rem;
  align-self: center;
}

input {
  margin: 10px;
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-form div {
  display: flex;
  align-items: center;
}

.user-form div label{
  width: 50px;
}